/* General */
body, html {
	width: 100%;
	height: 100%;
	background: #e65f68;
	font: 16px/1.5 Arial;
} 


/**** Main ****/
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
	align-items: stretch;   /*Align y-axis*/ 
    margin: 0 32px;
}

section > div {
	background: gray;
}
 
/* Color and margin */ 
section, footer {
	background: #FFF;
}

.first {
	height: 300px;
}

.first > div:last-child{
	background: url(img/potted-flower.jpg)
}

.first > div {
	width: 50%;
}

.second > article {
	width: 30%;
}

.second article {
	font-size: 0.9rem;
}

.second article img{
	float: left; 
	width: 80px; 
	height: 80px; 
	margin: 0 10px 10px 0; 
	padding: 4px; 
	border: 1px solid #DEDEDE;
}

.more {
	text-align:right;
}

/**** Header ****/
header {
	background: #e7e7e7;
}

header > h1 {
	margin: 0;
}

.logo {
	width: 100px;
	margin: 8px 0 0 32px;
}




/**** Meny ****/
nav {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
}


.navigation ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.navigation li {
	display: inline;
	margin-left: 10px;
}

.navigation li a {
	font-size: 1.1rem;
	color: #000;
	text-decoration: none;
}


/**** Footer ****/
body > footer {
	background: #5bb2a2;
	padding: 10px 32px;
}




/***** Links *****/ 
a {
	color: #000;
	text-decoration: none;
}

a:hover {
    color: #8e8e8e;
}






/*Not used */ 

.wrapper {
  max-width: 1200px;
  margin: auto;
  border: 1px solid red;
}