/* Font */
@import url('https://fonts.googleapis.com/css?family=Arvo');

/* General */
body, html {
	width: 100%;
	height: 100%;
	background: #FFF;
	font: 16px/1.5 Arial;
} 

h1, h2, h3, h4, h5, h6 {
	font-family: "Arvo", Georgia;
	color: #5bb2a2;
}


/**** Main ****/
section {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: space-between;
	align-items: stretch;   /*Align y-axis*/ 
    margin: 0 32px;
}

section > div {
	background: white;
}
 
/* Color and margin */ 
section, footer {
	background: #FFF;
}


.first {
	min-height: 300px;
}

.first h4 {
	color: #000;
	font-weight: 100;
}

.first > div:last-child{
	overflow: hidden;
}

.first > div {
	width: 49%;
}

.first img {
	width: 100%;

}

@media all and (max-width: 800px) {
	.first img {
		width: 350px;
		padding: 10px 0 0 0;
	}
}

@media all and (max-width: 600px) {
  section > * {
	flex: 1 100%;
	}
}


.second {
	margin-bottom: 8px;
}
.second > article {
	width: 30%;
}

.second article {
	font-size: 0.9rem;
}

.second article img{
	float: left; 
	width: 80px; 
	height: 80px; 
	margin: 0 10px 10px 0; 
	padding: 4px; 
	border: 1px solid #DEDEDE;
}

.more {
	text-align:right;
}

/**** Header ****/
header {
	background: #ead9bc;
}

header > h1 {
	margin: 0;
}

.logo {
	width: 100px;
	margin: 8px 0 0 32px;
}




/**** Meny ****/
nav {
	position: absolute;
	top: 0;
	right: 32px;
	width: auto;
	font-family: "Arvo", Georgia;
}


.navigation ul {
	list-style-type: none;
	margin: 0;
    padding: 0;
}

.navigation li {
	display: inline;
	margin-left: 10px;
}

.navigation li a {
	font-size: 1.1rem;
	color: #e65f68;
	text-decoration: none;
}

.navigation a:hover {
    color: #5bb2a2;
}


/**** Footer ****/
body > footer {
	background: #5bb2a2;
	padding: 10px 32px;
	color: #FFF;
}




/***** Links *****/ 
a {
	color: #e65f68;
	text-decoration: none;
}

a:hover {
    color: #e65f68;
}

