<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Plantify</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<header>
		<a href="../index.html">
			<img src="../images/logo.svg" alt="Logo" class="large-screen">
			<img src="../images/logo-small.svg" alt="Logo" class="small-screen">
		</a>		

		<nav>
			<ul class="navigation">
				<li><a href="../index.html">Home</a></li>
				<li><a href="../views/pricing.html">Pricing</a></li>
				<li><a href="../views/themes.html">Plant themes</a></li>
				<li><a href="../views/about.html">About us</a></li>
				<li><a href="../views/contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="first">
			<div>
				<h1>About us</h1>
				<p>
				Plantify revolutionizes the way you think about plants in an office environment. Plantify isn't just a a delivery service for plants, it's a delivery service for new ideas. Plantify makes it easy to keep your workplace fresh and oxygenated. A workplace that is a alive create ideas that live on.
				</p>
				<p>
				Plantify started in Stockholm in 2016 by Steffe Stickling and Petronella, just Petronella.
				</p>
			</div>
			<div>				
				<img src="../images/party-frogs.jpg" alt="Frogs" />
			</div>
		</section>
	</main>
	<footer>
		<p>Birger Jarlsgatan 5000, Stockholm<br>Tel: 08-13371337
		</p>
	</footer>
</body>
</html>