<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Plantify</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	<header>
		<a href="../index.html">
			<img src="../images/logo.svg" alt="Logo" class="large-screen">
			<img src="../images/logo-small.svg" alt="Logo" class="small-screen">
		</a>	
		<nav>
			<ul class="navigation">
				<li><a href="../index.html">Home</a></li>
				<li><a href="../views/pricing.html">Pricing</a></li>
				<li><a href="../views/themes.html">Plant themes</a></li>
				<li><a href="../views/about.html">About us</a></li>
				<li><a href="../views/contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
		<h1>Plant themes</h1>
			<ul class="themes">
				<li><h4>Aloha</h4>
					<ul>
						<li>This rich theme includes exotic coconuts spilling all over the floor combined with palm trees that hang down and are always in the way of your workflow. This theme is very complicated, suitable for complex startups.</li>
					</ul>
				</li>
				<li><h4>Siberia</h4>
					<ul>
						<li>Dead plants everywhere. Plants sprayed with white color to give that cold secluded look. Is your startups policy very coldhearted? This is the setting for you!</li>
					</ul>
				</li>
				<li><h4>Exotique Nordic</h4>
					<ul>
						<li>A shitload of pine and spruce. Get that Norrlands inland-look in your office. Comes with a Christmas Decoration Extension Pack for the first 100 subscribers. (Bears not included).</li>
					</ul>
				</li>
			</ul>
		</section>
	</main>
	<footer>
		<p>Birger Jarlsgatan 5000, Stockholm<br>Tel: 08-13371337
		</p>
	</footer>
</body>
</html>






